 body {
     
      
     background-color:grey; 
    
     background-size:cover;
     background-repeat:no-repeat;
        
     
      /* For IE8 and earlier */
     
}

.tips {border:1px solid pink;}
