

      
   body {
     
      
     background-image: url("http://www.electrogaspoint.com/images/backs/508446_2137776big-bg8.jpg"); 
    
     background-size: cover;
     background-repeat:no-repeat;
         opacity:0.8;
     
      /* For IE8 and earlier */
     
}
 .nav ul {list-style:none;margin-bottom:100px;padding:0;}
      
      
 .nav li {float:left;width:300px;text-align:center; background-color:none;border-right:1px solid white;position:relative; line-height:30px;}
      
 .nav li ul{position:absolute; top:30px;left:0;display:none;}
     
 .nav li:hover ul  {display:block;}
      
      .nav li ul li {float:none; width:150px;text-align:center; border-top:1px solid white;}
      
      .nav a {color: rgba(0,0,155,1);background-color: NONE;text-decoration:none;}
      
      .nav li:hover{color: blue;background-color:rgba(0,0,0,0.2);}
      .content h2 {clear:both;margin-top:500px;color:rgba(255,0,0,1);text-align:center;}
      .content h4 {clear:both;color:rgba(51,51,0,1);text-align: center;}
      .search {text-align:center;}
     .head h1{margin-bottom:100px;color: grey;background-color: white;text-align:center;}
      
      
@media screen and (max-width:950){
  .nav {width: 100%;}
  .content {width:100%;}
  .head {width:100%}
      }
@media screen and (max-width:640){
  .nav {width: 100%;}
  .content {width:100%;}
  .head {width:100%}
   
      }
